@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

.navbar-brand {
  font-family: 'Domine', serif;
}

#login p {
  display: inline;
}

#cover {
  background: #222 url('https://unsplash.it/id/452/1920/1080/') center center
    no-repeat;
  background-size: cover;
  height: 100%;
}

/* .card img {
  max-width: 100px;
} */
